.stars {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
  }

  .star {
    font-size: 28px;
    color: lightgray;
    cursor: pointer;
    transition: color 0.2s;
  }

  .star:hover,
  .star.selected {
    color: gold;
  }

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(198, 241, 247);
    text-align: center;
}

label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-size: 3em;
}

body{
    backdrop-filter: lightblue;
    background-image: url('marvel-studios-logo-intro.jpg\ \(1200×630\).png');
    background-size: cover;
}

select,button{
        background-color: rgb(132, 194, 202);
        border: 3px solid darkcyan;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 32px;
        cursor: pointer;
        border-radius: 8px;

}

option{
    background-color: rgb(132, 194, 202);
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}

span{
    size: 10em;
}

input{
    background-color: rgb(132, 194, 202);
    border: 2px solid darkcyan;
    color: white;
    padding: 15px 32px;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 30em;
}

#list{
    background-color: rgb(132, 194, 202);
    border: 2px solid darkcyan;
    color: white;
    padding: 15px 32px;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 70em;
}

div{
    text-align: center;
}
